$break-md:1100px;
$break-xs:600px;

* {
    box-sizing: border-box;
    font-family: Helvetica;
    outline-width: 0;

}

.mobile-column {
    @media screen and (max-width: $break-xs) {
        flex-direction: column;
    }
}

.modal {
    padding: 0 0 30px 45px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.54);

    &:hover {
        background: transparent
    }
}



body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #707070;
    overflow-x: hidden;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

p {
    padding: 0
}


a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}

.flex {
    display: flex;
}

.flex-end {
    display: flex;
    align-items: flex-end;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-v-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.row {
    display: flex !important;
    position: relative;
    justify-content: space-between;

    .colum-left,
    .colum-right {
        width: calc((100% - 24px)/2);
    }
}

.column-margin {
    margin-bottom: 50px;

    @media screen and (max-width: $break-xs) {
        margin-bottom: 13px;
    }
}



.abs-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.row-margin {
    margin-bottom: 10px;

    @media screen and (max-width: $break-xs) {
        margin-bottom: 3px;
    }
}

.row-margin2 {
    margin-bottom: 5px;

    @media screen and (max-width: $break-xs) {
        margin-bottom: 2px;
    }
}

.colum1 {
    width: 100%;
    position: relative;
}

.colum2 {
    width: calc((100% - 10px)/2);
    position: relative;

    @media screen and (max-width: $break-xs) {
        width: calc((100% - 3px)/2);
    }
}

.colum3 {
    width: calc((100% - 20px)/3);
    position: relative;

    @media screen and (max-width: $break-xs) {
        width: calc((100% - 6px)/3);
    }
}

.colum4 {
    width: calc((100% - 24px)/4);
    position: relative;

    @media screen and (max-width: $break-xs) {
        width: calc((100% - 6px)/4);
    }
}

.colum4-2 {
    width: calc((100% - 15px)/4);
    position: relative;

    @media screen and (max-width: $break-xs) {
        width: calc((100% - 6px)/4);
    }
}

.colum4-nospace {
    width: calc(100% / 4);
    height: auto;
    position: relative;
    box-shadow: 0px 5px 10px #00000029;

    @media screen and (max-width: $break-xs) {
        width: calc((100% - 21px)/4);
    }
}

.colum5 {
    width: calc((100% - 16px)/5);
    position: relative;

    @media screen and (max-width: $break-xs) {
        width: calc((100% - 8px)/5);
    }
}

.colum6 {
    width: calc((100% - 60px)/6);
    position: relative;
}

.colum6-v2 {
    width: calc((100% - 60px)/6);
    height: auto;
    position: relative;

    @media screen and (max-width: $break-xs) {
        width: 108px;
        margin-right: 8px;
    }
}

.colum6-v2-img {
    width: 100%;

    @media screen and (max-width: $break-xs) {
        width: 108px;
    }
}




// Text style 

.center {
    text-align: center;
}


.title1 {
    font-size: 60px;
    line-height: 72px;
    font-family: Helvetica;

    @media screen and (max-width: $break-xs) {
        font-size: 21px;
        line-height: 25px;
        font-weight: bold;
    }
}

.title2 {
    font-size: 34px;
    line-height: 40px;
    font-family: Helvetica;

    @media screen and (max-width: $break-xs) {
        font-size: 21px;
        line-height: 24px;
    }
}

.title3 {
    font-size: 27px;
    line-height: 27px;
    font-family: Helvetica;

    @media screen and (max-width: $break-xs) {
        font-size: 13px;
        line-height: 13px;
    }
}

.title4 {
    font-size: 50px;
    line-height: 60px;
    font-family: Helvetica;

    @media screen and (max-width: $break-xs) {
        font-size: 14px;
        line-height: 17px;
    }
}

.title5 {
    font-size: 40px;
    line-height: 49px;
    font-family: Helvetica;

    @media screen and (max-width: $break-xs) {
        font-size: 17px;
        line-height: 20px;
    }
}


.title6 {
    font-size: 20px;
    line-height: 24px;
    font-family: Helvetica;

    @media screen and (max-width: $break-xs) {
        font-size: 12px;
        line-height: 15px;
    }
}

.title7 {
    font-size: 14px;
    line-height: 17px;
    font-family: Helvetica;

    @media screen and (max-width: $break-xs) {
        font-size: 12px;
        line-height: 15px;
    }
}

.title8 {
    font-size: 19px;
    line-height: 23px;
    font-family: Helvetica;
}

.c-black {
    color: #000000
}

.c-black-2 {
    color: #2B2B2B;
}

.c-grey {
    color: #8B8B8B
}

.c-grey2 {
    color: #7E7E7E
}

.c-white {
    color: #FFFFFF
}

.bg-grey {
    background: #727272
}

.bg-grey2 {
    background: #292929;
}

.bg-black2 {
    background: #161616;
}



.font-light {
    font-weight: 100;
}

.font-bold {
    font-weight: bold;
}



.content1 {
    color: #5A5A5A;
    font-size: 20px;
    line-height: 40px;
}

.content2 {
    font-size: 40px;
    line-height: 48px;

    @media screen and (max-width: $break-xs) {
        font-size: 14px;
        line-height: 17px;
    }
}


.content3 {
    font-size: 33px;
    line-height: 40px;

    @media screen and (max-width: $break-xs) {
        font-size: 14px;
        line-height: 17px;
    }
}


.content4 {
    font-size: 16px;
    line-height: 18px;
}


.content5 {
    font-size: 16px;
    line-height: 18px;
}

.content6 {
    font-size: 12px;
    line-height: 14px
}

.content7 {
    font-size: 36px;
    line-height: 43px;


    @media screen and (max-width: $break-xs) {
        font-size: 12px;
        line-height: 20px;
    }
}


.content8 {
    font-size: 60px;
    line-height: 100px;

    @media screen and (max-width: $break-xs) {
        font-size: 17px;
        line-height: 30px;
    }
}









.no-margin {
    margin: 0 !important
}

.album-column-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: auto
}

.mobile-container {
    width: calc(100% - 60px);
    margin: auto;
}



.header-container {
    width: 100%;
    position: relative;

    img {
        width: 100%;
    }

    .header-inner {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 49px 0 30px 0;


        @media screen and (max-width: $break-xs) {
            padding: 16px;
        }

        .menu-row {
            padding: 0 45px 0 62px;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: $break-xs) {
                padding: 0;
            }

            .logo {
                width: 93px;

                @media screen and (max-width: $break-xs) {
                    width: 35px;
                }
            }

            .menu {
                cursor: pointer;
                width: 34px;

                @media screen and (max-width: $break-xs) {
                    width: 30px;
                }
            }
        }

        .title-bg {
            font-size: 174px;
            color: #FFFFFF;
            line-height: 189px;
            padding-left: 62px;
            font-family: Helvetica;

            @media screen and (max-width: $break-xs) {
                font-size: 50px;
                line-height: 55px;
                padding-left: 16px;
            }
        }

        .title-mid {
            font-size: 120px;
            color: #FFFFFF;
            padding-left: 62px;
            font-family: Helvetica;

            @media screen and (max-width: $break-xs) {
                font-size: 35px;
                padding-left: 16px;
            }
        }

        .title {
            font-size: 83px;
            letter-spacing: 8.3px;
            color: #FFFFFF;
            line-height: 90px;
            padding-left: 109px;
            font-family: Helvetica;

            @media screen and (max-width: $break-xs) {
                font-size: 24px;
                line-height: 26px;
                padding-left: 16px;
            }

            .line {
                width: 267px;
                height: 18px;
                background: #FFFFFF;
                position: relative;
                left: 16px;
                bottom: 18px;

                @media screen and (max-width: $break-xs) {
                    width: 78px;
                    height: 5px;
                    bottom: 5px;
                    left: 0px;
                }
            }
        }
    }

    .triangle-container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        bottom: -44px;

        @media screen and (max-width: $break-xs) {
            display: none;
        }

        .triangle {
            width: 56px;
            height: 88px;
            background: #FFFFFF;
            box-shadow: 0px 5px 10px #00000029;
            border-radius: 30px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 33px;
            }
        }
    }
}

.modal-container {

    border: 1px solid #707070;
    position: relative;
    outline-width: 0;

    .modal-banner {
        width: 100%;
        opacity: 0;
    }

    .modal-inner {
        padding: 49px 45px 65px 62px;
        background: #FFFFFF;
        opacity: 0.9;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        @media screen and (max-width: $break-xs) {
            padding: 16px;
        }

        .logo {
            width: 7.3%;
        }

        .close {
            width: 3%;
            cursor: pointer;
        }

    }


    .logo {
        margin-bottom: 51px;

        @media screen and (max-width: $break-xs) {
            margin-bottom: 10px;
        }
    }

    .menu-list {
        display: flex;
        margin-bottom: 40px;

        .left {
            width: 50%;
            display: flex;
            flex-direction: column;
            padding-left: 10%;

            .menu-item {
                font-size: 90px;
                font-weight: 100;
                color: #000000;
                text-decoration: none;
                display: flex;
                cursor: pointer;
                margin-bottom: 16px;

                @media screen and (max-width: $break-md) {
                    font-size: 60px;
                }

                @media screen and (max-width: $break-xs) {
                    font-size: 25px;
                    margin-bottom: 8px;
                }
            }

            .arrow {
                width: 54px;
                height: auto;
                margin-left: 16px;

                @media screen and (max-width: $break-md) {
                    width: 30px;
                }

                @media screen and (max-width: $break-xs) {
                    width: 15px;
                    margin-left: 15px
                }
            }

        }

        .right {
            width: 50%;
            flex-direction: column;
            justify-content: flex-end;
            padding-left: 10%;

            .service-item {
                color: #5A5A5A;
                font-size: 50px;
                line-height: 70px;
                font-weight: 100;

                @media screen and (max-width: $break-md) {
                    font-size: 30px;
                    line-height: 70px;
                }

                @media screen and (max-width: $break-xs) {
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            .subitem {
                color: #5A5A5A;
                font-size: 30px;
                line-height: 70px;
                font-weight: 100;

                @media screen and (max-width: $break-md) {
                    font-size: 25px;
                    line-height: 40px;
                }

                @media screen and (max-width: $break-xs) {
                    font-size: 8px;
                    line-height: 20px;
                }
            }
        }
    }

    .modal-btn {
        width: 109px;
        height: 39px;
        border: 1px solid #707070;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        float: right;
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        right: 45px;

        @media screen and (max-width: $break-xs) {
            right: 16px;
            width: 32px;
            height: 11px;
            font-size: 4px
        }
    }
}


.slick-slider {
    margin-bottom: 175px;

    @media screen and (max-width: $break-xs) {
        margin-bottom: 55px;
        margin-top: 20px;
    }
}

.slick-dots {
    bottom: -175px;
    height: 175px;
    display: flex !important;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $break-xs) {
        bottom: -55px;
        height: 55px;
    }
}


.slick-dots li {
    width: 50px;

    @media screen and (max-width: $break-xs) {
        width: 20px;
    }
}

.pc-show {
    display: block;

    @media screen and (max-width: $break-xs) {
        display: none !important;
    }
}

.mobile-show {

    display: none;

    @media screen and (max-width: $break-xs) {
        display: flex;
    }

}

.mobile-show-v2 {

    display: none;

    @media screen and (max-width: $break-xs) {
        display: block;
    }

}

.slider-container {
    width: 90%;
    margin: auto;
}

.dots-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65px;
    height: 50px;
    margin: auto;

    .dot {
        width: 13px;
        height: 13px;
        border: 1px solid;
        border-radius: 10px;
    }
}