$break-md:1100px;
$break-xs:600px;

.about {


    .describe {
        padding: 108px 0 118px;
        width: 61%;
        margin: auto;

        @media screen and (max-width: $break-xs) {
            padding: 26px 16px 19px;
            width: 100%;

        }
    }

    .support {
        padding: 108px 0 118px;
        width: 61%;
        margin: auto;
        font-size: 60px;
        color: #8B8B8B;
        line-height: 100px;

        @media screen and (max-width: $break-xs) {
            padding: 20px 16px;
            width: 100%;


        }
    }
}