$break-md:1100px;
$break-xs:600px;

.about-container {

    #marketing-5 {
        content:url('/img/marketing-5-xs.png')
    }

    .about {
        padding: 142px 38px 138px 32px;
        background: #fff;

        @media screen and (max-width: $break-xs) {
            padding: 35px 16px 20px;
        }
    }

    .content {
        background: url('/img/market-bg.png');
        background-size: 100% 100%;
        margin-top: 49px;

        @media screen and (max-width: $break-xs) {
            margin-top: 14px;
            background: #fff;
        }

        .wz-logo {
            width: 24%;
            margin-left: 9.3%;

            @media screen and (max-width: $break-xs) {
                margin-left: 0;
            }
        }

        .description {
            width: 75%;
            margin-left: 12.5%;
            padding-top: 48px;

            @media screen and (max-width: $break-xs) {
                width: 100%;
                margin-left: 0;
                padding-top: 21px;
            }
        }

    }

    .line1-container {
        justify-content: flex-end;

        @media screen and (max-width: $break-xs) {
            justify-content: center;
        }
    }

    .line1 {
        background: #292929;
        margin-top: 38px;
        width: 267px;
        height: 3px;
        margin-right: 8.8%;

        @media screen and (max-width: $break-xs) {
            width: 134px;
            height: 5px;
            margin-right: 0;
        }
    }


    .album {
        .colum2 {
            @media screen and (max-width: $break-xs) {
                width: 100%;
            }

        }

        .colum3 {

            @media screen and (max-width: $break-xs) {
                width: 100%;
            }
        }


    }


    .help-container {
        .title {
            padding: 163px 0 69px;

            @media screen and (max-width: $break-xs) {
                padding: 51px 0 19px;
            }
        }

        .icon {
            width: 12.5%;
            margin-bottom: 10px
        }

        .modal {
            background: rgba(0, 0, 0, 0.54);
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .client {

        .title {
            padding: 276px 0 74px;

            @media screen and (max-width: $break-xs) {
                padding: 60px 0 26px;
            }
        }

        .block {
            display: flex;
            padding: 112px 52px 59px 42px;
            margin: 5px 53px;
            // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background: #FBFBFB;
            min-height: 415px;

            @media screen and (max-width: $break-xs) {
                padding: 22px 16px 15px 13px;
                min-height: 123px;
                margin: 0;
            }

            .right {
                width: 83%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .speak {
                color: #707070;
                margin-bottom: 12px
            }

            .position {
                color: #8B8B8B;
            }

            .avator {
                width: 17%;
                margin-right: 54px;

                @media screen and (max-width: $break-xs) {
                    margin-right: 16px;
                }
            }
        }

        .slick-dots li button:before {
            font-size: 17px;

            @media screen and (max-width: $break-xs) {
                font-size: 13px;
            }
        }
    }

    .supports {

        margin-top: 175px;

        @media screen and (max-width: $break-xs) {
            margin-top: 50px;
        }


        .supports-row {
            overflow: scroll;

            @media screen and (max-width: $break-xs) {
                margin-top: 18px;
                margin-bottom: 35px;
            }
        }

        .line-2 {
            padding: 0 28px;
            margin-top: 69px;

            @media screen and (max-width: $break-xs) {
                margin-top: 19px;
            }
        }
    }

    .project-block {
        @media screen and (max-width: $break-xs) {
            padding: 0 16px;
            position: relative;
        }


        .abs-container {
            @media screen and (max-width: $break-xs) {
                margin: 0 16px;
            }
        }



        .modal {
            padding: 0 0 30px 45px;
            background: transparent;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background: rgba(0, 0, 0, 0.54);
            @media screen and (max-width: $break-xs) {
                padding: 0 0 16px 22px;
            }
        }
    }

    .help-container {
        .modal {
            padding: 0; 
        }
    }

    .slick-active {
        .project-block {
            .modal {
                background: rgba(0, 0, 0, 0.54);

                &:hover{
                    background:transparent 
                }
            }
        }

    }

    .find-btn {
        @media screen and (max-width: $break-xs) {
            width: 136px;
            height: 42px;
            font-size: 17px;
            color: #fff;
            background: #000;
            border-radius: 26px;
            margin-top: 16px;
            cursor: pointer;
        }
    }
}