$break-md:1100px;
$break-xs:600px;

.project {
    .abs-container {
        .modal {
            @media screen and (max-width: $break-xs) {
                padding: 0 0 16px 22px;
            }

        }
    }

    .tags-line {

        display: flex;
        padding: 47px 50px 30px;
        overflow: scroll;

        @media screen and (max-width: $break-xs) {
            padding: 25px 16px 10px;
            margin-right: 16px;
        }


        .tag {
            width: 82px;
            height: 30px;
            font-weight: 100;
            background: #272727;
            color: #FFFFFF;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 40px;

            @media screen and (max-width: $break-xs) {
                padding: 0 20px;
                margin-right: 12px;
            }
        }
    }

    .album-column-2 {
        .colum2 {
            @media screen and (max-width: $break-xs) {
                width: 100%;
            }
        }
    }


    .slick-dots li button:before {
        font-size: 34px;

        @media screen and (max-width: $break-xs) {
            font-size: 13px;
        }
    }

    .circularProgress {
        justify-content: center;
        padding: 70px 0;

        @media screen and (max-width: $break-xs) {
            padding: 19px 0 23px;
        }

        span {
            display: inline-block;
            width: 34px;
            height: 34px;
            border-radius: 100%;
            background-color: #707070;
            margin: 0px 25px;
            opacity: 0;

            @media screen and (max-width: $break-xs) {
                width: 13px;
                height: 13px;
                margin: 0px 7px;
            }
        }

        span:nth-child(1) {
            animation: opacitychange 1s ease-in-out infinite;
        }

        span:nth-child(2) {
            animation: opacitychange 1s ease-in-out 0.33s infinite;
        }

        span:nth-child(3) {
            animation: opacitychange 1s ease-in-out 0.66s infinite;
        }

    }

    @keyframes opacitychange {

        0%,
        100% {
            opacity: 0;
        }

        60% {
            opacity: 1;
        }
    }


}