$break-md:1100px;
$break-xs:600px;

.service {
    margin-bottom: 22px;

    .describe {
        padding: 84px 0 78px;
        width: 61%;
        margin: auto;

        @media screen and (max-width: $break-xs) {
            padding: 26px 16px 19px;
            width: 100%;

        }
    }

    .icon {
        width: 9%;
        margin-bottom: 16px;

        @media screen and (max-width: $break-xs) {
            margin-bottom: 5px;

        }
    }

    .modal {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.54);

    }
}