$break-md:1100px;
$break-xs:600px;

.singer {

    .title1 {
        font-size: 60px;
        line-height: 72px;
        font-family: Helvetica;

        @media screen and (max-width: $break-xs) {
            font-size: 17px;
            line-height: unset;
        }
    }


    margin-bottom: 50px;

    @media screen and (max-width: $break-xs) {
        margin-bottom: 16px;
    }

    .half-content {
        width: 66%;

        @media screen and (max-width: $break-xs) {
            width: 90%;
        }
    }

    .whale-content {
        width: 77.5%
    }

    .years {
        padding: 0 5.5% 31px;

        @media screen and (max-width: $break-xs) {
            padding: 0 5.5% 8px;
        }

        .item {
            width: 20%;
            padding: 43px 0 21px;
            color: #000000;
            text-align: center;

            @media screen and (max-width: $break-xs) {
                padding: 22px 0 8px;
            }
        }

        .active {
            border-bottom: 14px solid #000;

            @media screen and (max-width: $break-xs) {
                border-bottom: 4px solid #000;

            }
        }
    }

    .describe {
        padding: 45px 14%;

        @media screen and (max-width: $break-xs) {
            padding: 13px 8%;
        }
    }

    .section1 {
        padding: 70px 5.6% 56px;

        @media screen and (max-width: $break-xs) {
            padding: 18px 18px;
        }

        .colum2 {
            width: calc((100% - 33px)/2);
            position: relative;

            @media screen and (max-width: $break-xs) {
                width: calc((100% - 10px)/2);
            }

            .title {
                margin-bottom: 30px;

                @media screen and (max-width: $break-xs) {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .section2 {
        padding: 58px 5.4% 34px 0;

        @media screen and (max-width: $break-xs) {
            padding: 16px 25px 10px 0;
        }
    }

    .section3 {
        padding: 70px 0 83px;
        width: 61.7%;
        margin: auto;

        @media screen and (max-width: $break-xs) {
            width: 100%;
            padding: 24px 16px;
        }
    }

    .section4 {
        padding: 0 0 70px;
    }

    .section5 {
        .abs-container {
            padding: 33px 0 26px 50px;

            @media screen and (max-width: $break-xs) {
                padding: 10px 0 10px 18px;
            }
        }
    }

    .section6 {
        margin: 100px 0 110px;

        @media screen and (max-width: $break-xs) {
            margin: 10px 0 31px;
        }
    }

    .white-block {
        height: 280px;

        @media screen and (max-width: $break-xs) {
            height: 60px;
        }
    }

    .white-block2 {
        height: 148px;

        @media screen and (max-width: $break-xs) {
            height: 43px;
        }
    }

    .tutors {
        margin-top: 72px;

        @media screen and (max-width: $break-xs) {
            margin-top: 38px;
            margin-bottom: 86px;
        }

        .line {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .block {
                width: 22.5%;
                font-size: 20px;
                margin-bottom: 73px;
                color: #707070;

                @media screen and (max-width: $break-xs) {
                    margin-bottom: 20px;
                }

                .name {
                    display: none;

                    @media screen and (max-width: $break-xs) {
                        display: block;
                        text-align: center;
                        font-size: 12px;
                        font-weight: bold;
                        line-height: 14px;
                        margin-top: 6px
                    }
                }

                .brief {
                    margin-top: 42px;

                    @media screen and (max-width: $break-xs) {
                        display: none;
                    }
                }
            }

        }

    }

    .section8 {
        width: 82.5%;
        margin: 0 auto 118px;

        @media screen and (max-width: $break-xs) {
            width: 100%;
            padding: 16px;
            margin: 0 auto;
        }
    }


    .tutor-card-container {
        margin: 0 16px;
        overflow: scroll;

        .tutor-card {
            width: 282px;
            height: 141px;
            padding: 8px;
            display: flex;
            box-shadow: 0px 5px 10px #00000029;

            margin-right: 20px;

            .tutor-brief {
                width: 122px;
            }

            img {
                width: 124px;
                margin-right: 14px;
            }

        }
    }



    // singer 以外的 （king tea, bayber, oli6,blackmore)

    .row-margin-3{
        margin-bottom: 20px
    }


}