$break-md:1100px;
$break-xs:600px;

.album-slider-container {

    .album-row {
        overflow: scroll;
    }

    .album-colum {
        width: calc((100% - 24px)/4);
        position: relative;

        @media screen and (max-width: $break-xs) {
            width: 120px;
        }

        img {
            @media screen and (max-width: $break-xs) {
                width: 120px;
            }
        }
    }

    .abs-container {
        cursor: pointer;

        &:hover {
            background: #000;
            opacity: 0.5;
        }


    }




}