$break-md:1100px;
$break-xs:600px;


.contact {


    padding: 0 54px 75px;

    @media screen and (max-width: $break-xs) {
        padding: 0 0 75px;
    }

    .title {
        padding: 82px 0 66px;

        @media screen and (max-width: $break-xs) {
            padding: 81px 0 11px;
        }
    }

    .line {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        line-height: 30px;
        font-weight: 100;

        @media screen and (max-width: $break-xs) {
            flex-direction: column;
        }


        .left,
        .right {
            width: calc((100% - 33px)/2);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media screen and (max-width: $break-xs) {
                width: 100%;

            }
        }

        .left {
            .content {
                margin-bottom: 32px;
                @media screen and (max-width: $break-xs) {
                    text-align: center;
                }
            }
        }
    }

    form {

        @media screen and (max-width: $break-xs) {
            padding: 0 16px;
            margin-top: 24px
        }

        input {
            height: 54px;
            width: 100%;
            margin-bottom: 20px;
            padding: 0 20px;
            font-size: 20px;
            color: #8B8B8B;
            font-weight: 100;
            border: 1px solid #BEBEBE;
            outline-width: 0;
            @media screen and (max-width: $break-xs) {
                margin-bottom: 8px;
                font-size: 16px;
                height: 35px;
            }
        }

        textarea {
            height: 160px;
            width: 100%;
            margin-bottom: 20px;
            padding: 18px 20px;
            font-size: 20px;
            color: #8B8B8B;
            font-weight: 100;
            border: 1px solid #BEBEBE;
            outline-width: 0;
            @media screen and (max-width: $break-xs) {
                margin-bottom: 15px;
                font-size: 16px;
                height: 105px;
            }
        }

        .submit {
            width: 141px;
            height: 41px;
            background: #BEBEBE;
            color: #fff;
            font-size: 20px;
            font-weight: 100;
            float: right;
            cursor: pointer;

            @media screen and (max-width: $break-xs) {
                width: 61px;
                height: 29px;
                font-size: 16px;
                background: #008500;
                border-radius: 26px
            }
        }
    }

    .google-map {
        width: 100%;
        height: 250px;
        margin-top: 20px
    }

    .google-place-name {
        font-size: 16px;
        width: 150px;
        color: #00828d;
    }


}