$break-md:1100px;
$break-xs:600px;

.footer-container {

    .touch {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 32px 0 39px;
        background: #000638;

        @media screen and (max-width: $break-xs) {
            padding: 18px 0;
        }

        .title {
            margin-bottom: 25px;

            @media screen and (max-width: $break-xs) {
                margin-bottom: 5;
            }
        }

        .question {
            margin-bottom: 25px;

            @media screen and (max-width: $break-xs) {
                margin-bottom: 16px;
            }
        }

        .touch-btn {
            width: 156px;
            height: 31px;
            background: #FF4229;
            border-radius: 5px;
            text-transform: uppercase;
            line-height: 17px;
        }
    }

    .links-container {
        padding: 35px 17% 45px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media screen and (max-width: $break-xs) {
            padding: 16px 16px 50px;
        }


        .column-link {
            width: 22%;

            @media screen and (max-width: $break-xs) {
                width: 49%;
            }
        }

        .column-contact {
            width: 34%;

            @media screen and (max-width: $break-xs) {
                width: 100%;
            }
        }

        .logo-zh {
            width: 120px;
            margin-bottom: 16px;
        }

        .margin-text {
            margin-bottom: 20px
        }

        .subscribe {
            margin: 16px 0 27px;
            display: flex;
            height: 29px;

            input {
                padding: 8px 30px;
            }

            .subscribe-btn {
                background: #008500;
                font-size: 12px;
                line-height: 14px;
                color: #fff;
                padding: 8px
            }
        }


    }
}